#calculator {
  /* prescence plus layout */

  display: grid;
  grid-template-columns: 17vw 17vw 17vw 17vw 17vw;
  grid-template-rows: 15vh 17vh 17vh 17vh 17vh;
  grid-template-areas:
    "display display display display sign"
    "seven eight nine divide ."
    "four five six multi ."
    "one two three minus equals"
    "dec nought reset plus equals";
  grid-row-gap: 1vw;
  grid-column-gap: 0.5vw;
  /* styling */
  text-overflow: hidden;
  border: solid 2px black;
  padding: 3%;
  background-image: linear-gradient(#f0eae0 0%, #ccbfa2 100%);
  border-radius: 10px;
}
#supercalc {
  display: none;
}

@media only screen and (min-width: 700px) {
  #container {
    display: grid;
    grid-template-columns: 30wv 50vw 30vw;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas:
      ". . ."
      ". calculator ."
      ". . .";
    background-image: linear-gradient(#ffffcc 0%, #f7f7c3 100%);
  }

  #calculator {
    grid-area: calculator;
    display: grid;
    grid-template-columns: 9.25vw 9.25vw 9.25vw 9.25vw 9.25vw;
    grid-template-rows: 14vh 14vh 14vh 14vh 14vh;
    max-width: 50vw;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  #supercalc {
    display: initial;
    position: absolute;
    font-size: 100px;
    z-index: 1;

    transform: rotate(-45deg) translate(-100px, -150px);
    font-family: "Yesteryear", cursive;
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
      0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  }
}

#display {
  z-index: 0;

  line-height: 140%;
  grid-area: display;
  font-size: 10vh;
  text-align: right;
  padding: 10px;
  background-image: linear-gradient(#4f8f05 0%, #395c0c 100%);
  border: solid 2px #9b4ea1b3;
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 4px black;
  box-shadow: inset 3px 5px 4px #395c0c;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80vw;
}

#sign {
  line-height: 140%;
  grid-area: sign;
  text-align: center;
  font-size: 10vh;
  border: solid 3px #800000;
  background-image: linear-gradient(#ff3333 0%, #800000 100%);
  box-shadow: inset 3px 5px 4px #b92626;
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 4px black;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#nought {
  grid-area: nought;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#divide {
  grid-area: divide;
}

#multi {
  grid-area: multi;
}

#equals {
  grid-area: equals;
  background-image: linear-gradient(#13b913 0%, #11ca11 100%);
}

#reset {
  grid-area: reset;
  background-image: linear-gradient(#c42510 0%, #f02f0d 100%);
}

#dec {
  grid-area: dec;
}

.digit {
  font-size: 8vh;
  border-radius: 10px;
  background-image: linear-gradient(#a38441 0%, #e9d253 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  box-shadow: #a38441 #9b4ea1b3 #e9d253;
}

.digit:active {
  background-image: linear-gradient(#dfb763 0%, #e9d253 100%);
}

#github {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#282d31 0%, #333b41 100%);
}
#gitimg {
  max-height: 100%;
  max-width: 100%;
}
